<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/kawai-font.otf') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Kiseki</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/kawai.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/kawai.js') }}" defer></script>
    <meta name="description" content="Kiseki is VN builder">
    <meta name="keywords" content="HTML, CSS, framework, JavaScript, Kiseki">
    <link rel="author" href="https://www.yukiarimo.tk" />
</head>

<body>
    <div class="block-o">
        <div class="coll-lo">
            <div class="block-card el-9">
                <div class="block-text la">Kiseki</div>
            </div>
        </div>

        <div class="coll-lo">
            <div class="block-card el-4">
                <button class="block-button" id="edit-story-button"">Edit Story</button>
                <button class="block-button">Assets</button>
                <button class="block-button">Save</button>
                <button class="block-button" onclick="OpenLink('/')">Exit</button>
            </div>

            <div class="block-card el-4">
                <button class="block-button">Export Build</button>
                <button class="block-button">Import Assets</button>
                <button class="block-button">Settings</button>

            </div>
        </div>
    </div>

    <div class="block-popup" id="story-editor-popup">
        <div class="modal-content">
            <div class="modal-header">Edit Story</div>
            <div class="modal-body">
                <textarea id="story-textarea" class="block-text" rows="6" placeholder="Enter your story here..."></textarea>
            </div>
            <div class="modal-footer">
                <button id="save-story-button" class="block-button">Save</button>
                <button id="close-story-popup" class="block-button">Close</button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/build.js') }}"></script>
</body>

</html>